[Unit]
Description=HomeGrown Marine Boat Computer
ConditionPathExists=|/usr/local/bin/node
After=network.target

[Service]
WorkingDirectory=/race/bin/boat_computer
Environment="NODE_ENV=production"
ExecStart=/usr/local/bin/node run.js
SyslogIdentifier=boat_computer
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
