<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Logs</title>
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>    
    <header class="pure-g">
        <div class="pure-u-1"><h1>Logs</h1></div>
    </header>
    
    <div class="menu small pure-g">
        {{#log_days}}
        <a class="pure-u-1" href="{{filename}}">{{date}}</a>
        {{/log_days}}
    </div>

    <script src="/lib/jquery.js"></script>
    <script>
        $(function() {
            $('a').bind('click', function(e){
                e.preventDefault();
                
                //the purpose of this is to give the archive files enough time to be generated.
                //check every 250ms to see if the file is ready
                var day = $(this).attr('href');
                function checkAndDownload() {
                    $.getJSON('/logs/ready/'+day, function(data) {
                        if ( 'location' in data ) {
                            window.location = data.location;
                        }
                        else {
                            window.setTimeout(checkAndDownload, 250);
                        }
                    });
                }
                checkAndDownload();
            });
        })
    </script>
</body>
</html>