header {
  background-color: #333;
  color: #fff;
}
header h1 {
  padding: 10px 10px;
  margin: 0;
  font-size: 20px;
}
.page-button {
  text-align: right;
}
.page-button label {
  margin: 5px;
}
.menu a {
  padding: 20px;
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-weight: lighter;
  border-bottom: 1px solid #666;
}
.menu a:last-child {
  border-bottom: none !important;
}
.menu.small a {
  padding: 10px 20px;
  font-size: 16px;
}
